    /* CONFIGURAÇÕES DOS TEMAS */
/* ------------------------------------------- */
:root{
    --color: rgb(24, 24, 24);
    --color-hover: #f0f0f0;
    --text-shadow: none;
    --background-body: white;
    --background-header: #E0E0E0;
    --background-btns: #0066FF;
    --hover-background-btns: #00398F;
    --hover-border-color-btns: none;
    --hover-color-config-btns: #f0f0f0;
    --background-main: white;
    --background-color-tab-caixa: #FC7D22;
    --hover-background-color-tab: #FDAC72;
    --hover-color-tab: black;
    --border-color-tab: gray;
    --hover-border-color-tab: gray;
    --box-shadow-tab-caixa: none;
    --background-input:#FDAC72;
    --background-footer: #E0E0E0;
    }
    .darkmode:root{ 
    --color: #f0f0f0;
    --color-hover: #f0f0f0;
    --background-body: rgb(59, 4, 59);
    --background-header: linear-gradient( rgb(59, 4, 59), black 195%);
    --background-btns: rgb(58, 58, 58);
    /*--background-color-config-btn2: linear-gradient(black, gray 290%);*/
    --border-color-btns: black;
    --hover-background-btns: linear-gradient(black, gray 290%);
    --hover-border-color-btns: rgb(59, 4, 59);
    --hover-color-config-btns: rgb(207, 6, 207);   
    --background-main: linear-gradient(black, rgb(59, 4, 59) 195%);
    --background-color-tab-caixa: linear-gradient(black, gray 300%);
    --hover-background-color-tab: none;
    --hover-color-tab: rgb(207, 6, 207);
    --hover-border-color-tab: rgb(59, 4, 59);
    --background-input:rgb(58, 58, 58);
    --background-footer:  linear-gradient( rgb(59, 4, 59), black 195%);
    }

/* BODY, HEADER, MAIN E FOOTER */
/* ------------------------------------------- */
* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    overflow: visible;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-body);
    transition: background-color 0.5s, color 0.5s;
}

header {
    color: var(--color);
    height: 12.3vh;
    width: 100vw;
    box-sizing: border-box;
    text-shadow: var(--text-shadow);
    position: relative;
    display: flex;
    font-size: 25px;
    padding: 1.2rem 2rem;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    background: var(--background-header);
    flex-direction: row;
    border: 1px, 
}

header h1 {
    font-size: 24px;
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 80vh;
    margin: 0;
    background: var(--background-main);
    transition: background-color 0.3s, color 0.3s;
}

footer {
    background: var(--background-footer);
    color: var(--color);
    padding: 0 20px;
    position: relative;
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

/* CONFIGURAÇÕES DOS ITENS NO HEADER */
/* ------------------------------------------- */
.logo {
    display: flex;
    align-items: center;
    color: var(--color);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.nav-item-nova {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 1.8rem;
    position: left;
    cursor: pointer;
    text-decoration: none;
    color: var(--color);
    font-weight: 500;
    font-size: 1.15rem;
}

.config-btn2 {
    background: var(--background-btns);
    color: white;
    border: groove;
    border-color: var(--border-color-btns);
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    height: 112%;
}

.nav-titulo {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}

/* CONFIGURAÇÕES DO BOTÃO VOLTAR DAS PÁGINAS */
/* ------------------------------------------- */
.voltar-bnt {
    margin-top: 10px;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    background: var(--background-btns);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

/* CONFIGURAÇÕES DO HOVER */
/* ------------------------------------------- */
.tab.active:hover,
.tab:hover {
    background-color: var(--hover-background-color-tab);
    color: var(--hover-color-tab);
    border-color: var(--hover-border-color-tab); 
}

.voltar-bnt:hover,
.config-btn2:hover {
    background: var(--hover-background-btns);
    color: var(--hover-color-config-btns);
    border-color: var(--hover-border-color-btns);
}

    /* CONFIGURAÇÕES DA RESPONSIVIDADE */
/* ------------------------------------------- */

    @media (max-width: 750px) {
        .menu-btn {
            flex-direction: column;
            padding: 10px 70px;

        }
    }

/* CONFIGURAÇÕES DAS TABS DO MENU */
/* ------------------------------------------- */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

button.prev, button.next {
    background-color: var(--background-body);
    color: var(--color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
}

button.prev:hover, button.next:hover {
    background: var(--background-body);
}

.tabs-container {
    display: flex;
    overflow: hidden;
    width: 300px;
    height: 400px;
    position: relative;
}

.tab {
    min-width: 100%;
    height: 100%;
    background: var(--background-color-tab-caixa);
    color: var(--color);
    box-shadow: var(--box-shadow-tab-caixa);
    display: flex;
    border: 3px;
    border-style: outset;
    border-color: var(--background-body);
    border-radius: 15px;
    text-shadow: var(--text-shadow);
    cursor: pointer;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 30px;
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.tab.active {
    left: 0;
    opacity: 1;
}

.tabs-container-sobre {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
    margin-top: 35px;
    margin-bottom: 34px;
}

.tab-sobre {
    position: relative;
    width: 360px;
    height: 377px;
    background: var(--background-color-tab-caixa);
    box-shadow: var(--box-shadow-tab-caixa);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    text-shadow: var(--text-shadow);
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s, color 0.3s;
    overflow: hidden; /* Assegura que o texto não transborde */
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-hover);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* Para garantir que o hover funcione corretamente */
}

.tab-sobre:hover .hover-text {
    opacity: 1;
}

.menu-config {
    display: flex;
    flex-direction: column;
    position: absolute;
}

/* CSS DA PÁGINA DE TERMOS E CONDIÇÕES */
/* ------------------------------------------- */
.seila main {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    color: var(--color);
    max-height: 2000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
}

/* WELCOME TEXT CONFIGURATION */
/* ------------------------------------------- */
.welcome-text {
    color: var(--color);
    padding: 20px;
    margin-bottom: 20px;
}

.welcome-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

h1.welcome-text#sobre {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
}

.welcome-text p {
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 1.5;
}

/* CSS DA GALERIA */
/* ------------------------------------------- */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--background-color-tab-caixa);
    border-radius: 8px;
    box-shadow: var(--box-shadow-tab-caixa);
    overflow: hidden;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.load-more {
    background: var(--background-btns);
    color: white;
    border: groove;
    border-color: var(--border-color-btns);
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 112%;
}

/* CSS DAS PÁGINAS DE LOGIN E CADASTRO */
/* ------------------------------------------- */
#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.name input,
.email input,
.senha input {
    border-radius: 15px;
    border: none;
    width: 80%;
    height: 40px;
    padding-left: 15px;
    background-color: var(--background-input);
    color: var(--color-input);
    margin-top: 15px;
}

.entrar input {
    background: var(--background-btns);
    color: white;
    border: groove;
    border-color: var(--border-color-btns);
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 112%;
}

input::placeholder {
    color: var(--color-input);
}

#login-h1,
#login-p {
    color: var(--color);
}

.caixa {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: var(--background-color-tab-caixa);
    padding: 3rem;
    border-radius: 15px;
    width: 43vw;
    box-shadow: var(--box-shadow-tab-caixa);
}

.caixa img {
    width: 200px;
    border-radius: 30%;
}

input:focus {
    outline: none;
}

.zzz {
    position: fixed;
    bottom: 20px;
    color: var(--color);
    font-size: 30px;
    animation: rise 5s linear infinite;
}

@keyframes rise {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
        transform: translateY(-300%);
        opacity: 0;
    }
}

/* OVERLAY CONFIGURATION */
/* ------------------------------------------- */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background: var(--background-color-tab-caixa);
    color: var(--color);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    margin:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh; /* Ensure content doesn't exceed viewport height */
    overflow-y: auto; /* Adds scroll if content exceeds height */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--color);
}

textarea {
    width: 100%;
    height: 150px;
    min-height: 100px;
    margin-top: 20px;
    padding: 10px;
    resize: none;
    color: var(--color);
    background: var(--background-input);
}

.overlay-content img {
    max-width: 100%;
    max-height: 45%;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 0;
}